@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 120 14% 98%;
  --foreground: 156 26% 14%;
  --card: 0 0% 100%;
  --card-foreground: 156 26% 14%;
  --border: 150 18% 86%;
  --muted: 120 17% 95%;
  --muted-foreground: 155 13% 38%;
  --primary: 155 76% 24%;
  --primary-foreground: 120 20% 98%;
}

body {
  @apply bg-background text-foreground antialiased;
}
